<!-- linking to base.jinja2 -->
{% extends "base.jinja2" %}

{% block content %}
    <div class="page-header">
        <h1>Delete <small> all existing alerts</small></h1>
    </div>

    <h4>You are about to delete all your alerts.</h4>

    <a class="btn btn-warning" href="#"><span class="glyphicon glyphicon-remove-circle"></span> Delete all alerts</a>

    <div class="table table-condensed">
    {% for alert in alerts %}
        <p>{{ alert.item.name }} {{ alert.active }}</p>
    {% endfor %}
    </div >

{% endblock %}
