<!-- linking to base.jinja2 -->
{% extends "base.jinja2" %}

{% block content %}
    <div class="page-header">
        <h1>Edit Store</h1>
    </div>
    <div class="form-size">
    <form method="post"> {# this form will only send POST request #}
        <div class="form-group">
            <label for="name">Store name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Store Name" value="{{ store.name }}">
        </div>
        <div class="form-group">
            <label for="url_prefix">URL prefix</label>
            <input type="text" class="form-control" id="url_prefix" name="url_prefix" placeholder="http://..." value="{{ store.url_prefix }}" aria-describedby="storeURLPrefixHelp">
            <span id="storeURLPrefixHelp" class="help-block">
                What characters do URLs of all items in this online store start with?</br>
                For example: http://www.amazon.com
            </span>
        </div>
        <div class="form-group">
            <label for="tag_name">Tag name</label>
            <input type="text" class="form-control" id="tag_name" name="tag_name" value="{{ store.tag_name }}" aria-describedby="storeTagNameHelp">
            <span id="storeTagNameHelp" class="help-block">
                What is the HTML tag of the item that contains the item price? (usually <code>span</code>)
            </span>
        </div>
        <div class="form-group">
            <label for="namequery">Name Search Query</label>
            {# we use | tojson to convert query string into JSON format. Remember to use SINGLE QUOTE!#}
            <input type="text" class="form-control" id="namequery" name="namequery" value='{{ store.namequery | tojson }}' aria-describedby="NameQueryHelp">
            <span id="NameQueryHelp" class="help-block">
                What JSON query would we have to do to find the specific tag with the <strong>item name</strong>? Remember to use double quotation marks!)
            </span>
        </div>
        <div class="form-group">
            <label for="pricequery">Price Search Query</label>
            <input type="text" class="form-control" id="pricequery" name="pricequery" value='{{ store.pricequery | tojson }}' aria-describedby="PriceQueryHelp">
            <span id="PriceQueryHelp" class="help-block">
                What JSON query would we have to do to find the specific tag with the <strong>item price</strong>? Remember to use double quotation marks!)
            </span>
        </div>
        <button type="submit" class="btn btn-warning">Update</button>
    </form>
    </div>
{% endblock %}
